body {
    /* background-color: black; */
    margin: 0 8px;
    padding: 0;
    text-align: center;
    color: rgb(220, 220, 220);
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    /* font-family: 'Roboto Slab'; */
    font-family: 'Lato', sans-serif;
}

header div {
    display: inline;
    position: relative;
}

section {
    display: flex;
    align-items: flex-start;
}

a {
    color: rgb(219, 219, 219);
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* scrollbar - start */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(150, 150, 150); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(200, 200, 200);
}
/* srollbar - end */

.div {
    margin-top: 8px;
    color: rgb(219, 219, 219);
    background-color: #05386B;
    border: 1px solid #05386B;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.5);
}

.title {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
}

/* dropdown - start */
.sessionMenu {
    position: absolute;
    top: 10px;
    left: 13px;
}

.menuItems {
    display: none;
    width: max-content;
    text-align: left;
    position: absolute;
    top: 25px;
    z-index: 1;
    border: 1px solid rgb(134, 134, 134);
    border-radius: 3px;
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.5);
    background-color: black;
}

.menuItems li:hover {
    /* background-color: rgb(134, 134, 134); */
    background-color: #0b58a3;
}

.menuItems a {
    padding: 12px 16px;
}
/* dropdown - end */

.loginForm {
    margin: 100px auto;
    padding: 20px 20px 0 20px;
    max-width: 300px;
    border-radius: 10px;
    background-color: rgb(40, 40, 40);
    border: 1px solid rgb(80, 80, 80);
}

.loginForm input {
    margin-bottom: 20px;
    width: 100%;
}

.loginForm input[type="submit"], .loginForm input[type="button"] {
    width: 100%;
}

/* left div - start */
.leftDiv {
    width: 20%;
    overflow-x: hidden;
}

.tabButtonsDiv {
    height: 92.5vh;
}

.fa-globe {
    padding-top: 5px;
    width: 10%;
    float: left;
    cursor: pointer;
    /* background-color: red; */
    background-color: #05386B;
}

.tabButton {
    width: 30%;
    font-size: 1vw;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    /* background-color: red; */
    background-color: #05386B;
    color: rgb(220, 220, 220);
}

.tabButton:hover {
    color: rgb(220, 220, 220);
    background-color: #0b58a3;
    cursor: pointer;
}

.tabButton:focus {
    outline: none;
}

.activeTab {
    background-color: white;
    outline: none;
    color: rgb(35, 35, 35);
    border-top: 1px solid #05386B;
}

.tabContent {
    position: absolute;
    top: 69.5px;
    left: 8.5px;
    color: rgb(35, 35, 35);
}

.tableDiv {
    padding-top: 15px;
    width: 19.39vw;
    background-color: white;
}

.deathsDiv {
    display: none;
}

.recoveredDiv {
    display: none;
}

.totalCountFigure {
    font-size: 2.5vmax;
    font-weight: 700;
    
}

tbody.casesTableBody {
    display: block;
    overflow: auto;
    height: 67.2vh;
    width: 100%;
    background-color: white;
    color: rgb(30, 30, 30);
}
.casesTable thead, tbody.casesTableBody tr {
    display: block;
    border-bottom: 1px solid rgb(80, 80, 80);
}

.casesTable th {
    border-top: 1px solid rgb(80, 80, 80);
    background-color: #05386B;
    padding: 10px 0;
    color: rgb(220, 220, 220);
}

.casesTable tr:hover {
    cursor: pointer;
}

.casesTable tr th:hover {
    cursor: auto;
}

.colorConfirmed {
    color: rgb(210, 0, 0);
}

.colorDeaths {
    color: rgb(30, 30, 30);
}

.colorRecovered {
    color: rgb(112, 168, 0);
}

.countValue {
    padding-left: 10px;
    font-weight: bolder;
}

.countLocation {
    padding-left: 10px;
}
/* left div - end */

/* center div start */
.centerDiv {
    width: 58%;
    margin-left: 8px;
}

.mapDiv {
    height: 61.5vh;
}

.graphDiv {
    height: 30vh;
}
/* center div end */

/* right div start */
.rightDiv {
    width: 22%;
    margin-left: 8px;
}

.genderDiv {
    height: 38vh;
    width: 100%;
    /* background-color: red; */
}

.ageDiv {
    height: 38vh;
}

.ageInsideDiv{
    width: 100%;
}

.creditsDiv {
    height: 14.4vh;
    background-color: white;
    color: black;
}

.innerCreditsDiv{
    font-size: small;
    text-align: left;
    padding: 2px 5px;
}

#soucreText {
    color: #05386B;
}
/* right div end */

/* news tab  start*/
.pageTitle {
    margin: 0;
    padding: 5px;
    color: rgb(30, 30, 30);
}

.jumbotron  .newsHeader {
    text-align: left;
    font-size: 20px;

}

.jumbotron .newsPara {
    text-align: left;
    font-size: 16px;

}

.jumbotron {
    background-color: white;
    padding: 5px;
}

.newsFooter {
    text-align: left;
}

.container {
    /* background-color: rgb(30, 30, 30); */
    background-color: white;
    border: 1px solid rgb(80, 80, 80);
    border-radius: 20px;
    color: rgb(30, 30, 30);
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.5);
}
/* news tab end */

.tabDailyButtonsDiv {
    height: 30vh;
}
/* Style the tab for Graphs of Daily Confirmed and Daily Dead */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #080808;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabDailyContent {
    position: absolute;
    bottom: 9px;
    width: 56.82%;
}

#confirmedDailyButton {
    width: 45%;
}

#DailydeathsButton {
    width: 45%;
}

.newsTab {
    margin: 20px auto;
    width: fit-content;
    border-radius: 10px;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2);
}
/* Symptom Checker styling */
#cent {
    position:absolute;
    top:20%;
    left:30%;
    margin-top:-50px; /* this is half the height of your div*/  
    margin-left:-100px; /*this is half of width of your div*/
    height: 500px;
    width: 50%;
    color:black;
    text-align: left;
  }

  #symp_button {
    background-color: #05386B; /* Green */
    display: flex;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    align-items: center;
    justify-content: center;
  }
  
/* change country animation */
.transform-active {
  animation: pulse 2s 1;
}

@keyframes pulse {
  0% {
    background-color: #ff142c;
  }
  100% {
    background-color: #05386B;
  }
}